<div class="comment-row clearfix">

  <p class="comment-body">
    <%= nl2br(comment.body) %>
  </p>

  <p class="commenter float-left">
    <%= nl2br(comment.commenter) %>
  </p>

  <p class="comment-at float-left">
    <%= comment.created_at %>
  </p>

  <% if user_signed_in? %>
    <p class="comment-delete float-left">
      <%= link_to 'コメント削除', [comment.post, comment],
                    method: :delete, data:{ confirm: '削除しますか？' }  %>
    </p>
  <% end %>
</div><!-- .comment-row -->
