<%= form_for([@post, @post.comments.build]) do |f| %>
  <div class="form-group">
    <%= f.text_field :commenter, :size => "30", :placeholder => "お名前" %>
  </div>
  <div class="form-group">
    <%= f.text_area :body, cols: 60, rows: 6 , :placeholder => "コメント" , class: "form-control" %>
  </div>
    <div class="hint">入力文字数:<span id="char_num">0</span></div>
  </p>

  <p>
    <%= f.submit "コメント投稿" %>
  </p>
<% end %>
