<nav class="footer">
  <ul class="nav nav-pills">
    <li>
      <%= link_to "プロフィール", "/page/profile" %>
    </li>
    <li>
      <%= link_to "twitter", "https://twitter.com/homuhoomu", {:target => "_blank"} %>
    </li>
    <% if user_signed_in? %>
      <li role="presentation" class="pull-right">
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      </li>
    <% end %>
  </ul>
</nav>
