<h3>このブログについて</h3>
<section>
  <p>
    技術系の話題ははてなブログに集約したいので、日常的な話題はこちらに書いていきます。<br>
    いまのところその日のtwitterをまとめるのが主な役割になっています。
  </p>
  <p>
    検索エンジンから逃れて自由に書ける場所が必要なのです＿φ(°-°=)
  </p>
</section>

<h4 style="margin-top:30px;">プロフィール</h4>
<p>
  素人からはじめてwebエンジニア2年目です。<br>
  使ってる技術はこんな感じです。
</p>

<dl class="dl-horizontal">
  <p>
    <dt>webサーバー</dt>
    <dd>apache,nginx,unicorn</dd>
  </p>

  <p>
    <dt>データベース</dt>
    <dd>mysql,sqdtte</dd>
  </p>

  <p>
    <dt>サーバーサイド</dt>
    <dd>PHP　wordpress、silex</dd>
    <dd>ruby on rails</dd>
  </p>

  <p>
    <dt>クライアントサイド</dt>
    <dd>JavaScript(jquery,coffee)</dd>
    <dd>HTML5</dd>
    <dd>CSS3 sass bootstrap</dd>
  </p>

  <p>
    <dt>開発ツール類</dt>
    <dd><span>git</span> ターミナルとatomから操作する プライベートリポジトリはbitbucketで管理</dd>
    <dd><span>atom</span> メインのエディタ。ファイルの検索あいまい検索が早いし使いやすいです</dd>
    <dd><span>vagrant</span> ローカルはrailsのサーバー立ててる事が多いのでPHPで何か作ると時はこれで</dd>
    <dd><span>netbeans</span> IDE使う時はこれ。初期状態での使い勝手が非常に良い</dd>
  </p>
</dl>

<p>
  フロントエンドビルドツールのgdlp、angdlarなどのJSフレームワーク、iOSのswift、pepper君プログラミングなど、<br>
  新しいものにもどんどん触れて行きたいです。
</p>

<h4 style="margin-top:40px;">趣味など</h4>
<p>
  たくさん遊んで技術以外の物事に触れる事も大事だと考えています。<br>
  スチームパンク、サイバーパンク系の作品が好みで、<br>
  休日は家でのんびり。出かけるならノマドカフェとかビッグサイト辺りのイベント。
</p>

<dl class="dl-horizontal">
  <p>
    <dt>本</dt>
    <dd>キノの旅</dd>
    <dd>お金の科学</dd>
  </p>

  <p>
    <dt>ゲーム</dt>
    <dd>beatmania lldx</dd>
    <dd>黄雷のガクトゥーン、漆黒のシャルノスなどのスチームパンクシリーズ</dd>
    <dd>Erinyes</dd>
    <dd>シュタインズゲート</dd>
  </p>

  <p>
    <dt>映画</dt>
    <dd>マトリックス</dd>
    <dd>ワイルドスピード</dd>
    <dd>ターミネーター</dd>
    <dd>楽園追放</dd>
  </p>

  <p>
    <dt>アウトドア</dt>
    <dd>ランニング</dd>
    <dd>東京ビッグサイト</dd>
    <dd>モノレール</dd>
    <dd>総武線御茶ノ水駅ホームの景観</dd>
  </p>

  <p>
    <dt>漫画、アニメ</dt>
    <dd>爆走兄弟レッツ&ゴー</dd>
    <dd>クレヨンしんちゃん</dd>
    <dd>銀魂</dd>
    <dd>新世紀エヴァンゲリオン</dd>
    <dd>遊戯王</dd>
    <dd>頭文字D</dd>
    <dd>サイコパス</dd>
    <dd>シュタインズゲート</dd>
  </p>

  <p>
    <dt>音楽</dt>
    <dd>ASIAN KUNG-FU GENERATION</dd>
    <dd>kors k</dd>
    <dd>The Veronicas</dd>
    <dd>レーシングラグーンのサントラ</dd>
  </p>

  <p>
    <dt>その他</dt>
    <dd>コーヒー</dd>
    <dd>rebuild fm</dd>
    <dd>かおもじ( ･∀･)つﾄﾞｿﾞｰ</dd>
  </p>

</dl>

<p style="margin-bottom:50px;">
  東京に住んで3年目になりますがあまり満喫出来ていません。<br>
  都内のイケてるスポットや楽しいイベントを知っていたら教えて頂けると嬉しいです(=ﾟωﾟ)ﾉ
</p>
