<h3>管理人について</h3>
<section>
  <p>
    技術系の話題ははてなブログに集約したいので、日常的な話題はこちらに書いていきます。<br>
    いまのところその日のtwitterをまとめるのが主な役割になっています。
  </p>
  <p>
    検索エンジンから逃れて自由に書ける場所が必要なのです＿φ(°-°=)
  </p>
</section>

<h4 style="margin-top:30px;">プロフィール</h4>
<p>
  素人からはじめてwebエンジニア2年目です。<br>
  使ってる技術はこんな感じです。
</p>

<dl class="dl-horizontal">
  <p>
  <ul>
    <li>webサーバー</li>
    <li>apache,nginx,unicorn</li>
  </ul>
  </p>

  <ul>
    <li>データベース</li>
    <li>mysql,sqdtte</li>
  </ul>

  <ul>
    <li>サーバーサイド</li>
    <li>PHP　wordpress、silex</li>
    <li>ruby on rails</li>
  </ul>

  <ul>
    <li>クライアントサイド</li>
    <li>JavaScript(jquery,coffee)</li>
    <li>HTML5</li>
    <li>CSS3 sass bootstrap</li>
  </ul>

  <ul>
    <li>開発ツール類</li>
    <li><span>git</span> ターミナルとatomから操作する プライベートリポジトリはbitbucketで管理</li>
    <li><span>atom</span> メインのエディタ。ファイルの検索あいまい検索が早いし使いやすいです</li>
    <li><span>vagrant</span> ローカルはrailsのサーバー立ててる事が多いのでPHPで何か作ると時はこれで</li>
    <li><span>netbeans</span> IDE使う時はこれ。初期状態での使い勝手が非常に良い</li>
  </ul>
</dl>

<p>
  フロントエンドビルドツールのgulp、angdlarなどのJSフレームワーク、iOSのswift、pepper君プログラミングなど、<br>
  新しいものにもどんどん触れて行きたいです。
</p>

<h4 style="margin-top:40px;">趣味など</h4>
<p>
  たくさん遊んで技術以外の物事に触れる事も大事だと考えています。<br>
  スチームパンク、サイバーパンク系の作品が好みで、<br>
  休日は家でのんびり。出かけるならノマドカフェとかビッグサイト辺りのイベント。
</p>

<section class="hobby-list">
  <ul>
    <li>趣味</li>
    <li>数学</li>
    <li>機械学習</li>
    <li>データサイエンス</li>
    <li>旅</li>
    <li>TCG</li>
  </ul>

  <ul>
    <li>ネット</li>
    <li><a target="_new" href="http://www.nicovideo.jp/watch/sm20343139">関東鍋</a></li>
    <li><a target="_new" href="https://www.youtube.com/channel/UCcfGMS51eSQAaU0QojKaiKw">kuronoyume</a></li>
    <li><a target="_new" href="https://www.youtube.com/channel/UCHPARXha7xQNbfzwzY7NzUw">めぐみちゃんねる</a></li>
    <li><a target="_new" href="https://www.youtube.com/channel/UC7mXyzaRLWLq1fQtxvyGcEw">スティーブ的視点</a></li>
    <li><a target="_new" href="https://www.youtube.com/channel/UCLfbmGhvu7xTHXktmMWdfvw">Sharla in Japan</a></li>
    <li><a target="_new" href="https://www.youtube.com/channel/UCzDd3Byvt91oyf3ggRlTb3A">とある男が授業をしてみた</a></li>
    <li><a target="_new" href="https://www.youtube.com/channel/UC0FFHRF1mytLDhs6nxqGIQg">岡田斗司夫ちゃんねる</a></li>
    <li>かおもじ( ･∀･)つﾄﾞｿﾞｰ</li>
  </ul>

  <ul>
    <li>Podcast</li>
    <li>rebuild fm</li>
    <li>Hapa英会話</li>
    <li>バイリンガルニュース</li>
    <li>爆笑問題カーボーイ</li>
    <li>あずおと</li>
    <li>vocaloid聴き専ラジオ</li>
  </ul>

  <ul>
    <li>アウトドア</li>
    <li>ランニング</li>
    <li>東京ビッグサイト</li>
    <li>モノレール</li>
    <li>総武線御茶ノ水駅ホームの景観</li>
    <li>オロロンライン</li>
  </ul>

  <ul>
    <li>本</li>
    <li>キノの旅</li>
  </ul>

  <ul>
    <li>ゲーム</li>
    <li>metal gear solidシリーズ</li>
    <li>beatmania lldx</li>
    <li>黄雷のガクトゥーン、漆黒のシャルノス</li>
    <li>Erinyes</li>
    <li>星のカービィ スーパーデラックス</li>
    <li>スーパーマリオワールド</li>
    <li>スーパーマリオランド2 6つの金貨</li>
    <li>ゼルダの伝説 ムジュラの仮面</li>
    <li>風来のシレン2</li>
    <li>マリオカート64</li>
    <li>ベルトロガー9</li>
    <li>GTシリーズ</li>
    <li>racing lagoon</li>
    <li>ロックマンX6</li>
  </ul>

  <ul>
    <li>映画</li>
    <li>マトリックス</li>
    <li>ワイルドスピード</li>
    <li>ターミネーター</li>
    <li>楽園追放</li>
    <li>イミテーションゲーム</li>
    <li>バックドラフト</li>
    <li>攻殻機動隊</li>
  </ul>

  <ul>
    <li>漫画、アニメ</li>
    <li>爆走兄弟レッツ&ゴー</li>
    <li>クレヨンしんちゃん</li>
    <li>銀魂</li>
    <li>新世紀エヴァンゲリオン</li>
    <li>遊戯王</li>
    <li>頭文字D</li>
    <li>PSYCHO-PASS</li>
    <li>シュタインズゲート</li>
    <li>SHIROBAKO</li>
    <li>Fate/Zero</li>
    <li>Fate/stay night[Unlimited Blade Works]</li>
  </ul>

  <ul>
    <li>音楽</li>
    <li>ZEDD</li>
    <li>perfume</li>
    <li>BUMP OF CHICKEN</li>
    <li>ASIAN KUNG-FU GENERATION</li>
    <li>kors k</li>
  </ul>

  <ul>
    <li>テレビ</li>
    <li>白熱教室</li>
    <li>WBS</li>
    <li>水曜どうでしょう</li>
  </ul>

</section>

<p style="margin-bottom:50px;">
  東京に住んで3年目になりますがあまり満喫出来ていません。<br>
  都内のイケてるスポットや楽しいイベントを知っていたら教えて頂けると嬉しいです(=ﾟωﾟ)ﾉ
</p>
