<style>
  .container {
    margin-left: 0;
  }
  .page li:first-child {
    font-weight: normal;
    margin: 0;
  }
  .profile_title {
    margin-bottom: 20px;
  }
</style>

<article>
  <h2 class="profile_title">管理人について</h2>
  <section>
    <p>はじめまして！91年生まれのポケモン世代です(^^)/ <a href="http://ryota-murakami.github.io/" target="_blank">ホームページ</a></p>

    <p>都内でソフトウェアエンジニアとして働いています、好きな言語はJavaScriptです。<br>
      これといった趣味はコンピュータに関する興味しかなく、普段は<a href="https://github.com/notifications" target="_blank">Github</a>上でコードを読み書き、英語を勉強している事が多いです。<br>
    </p>

    <p>
      <a href="http://skysemi.org/" target="_blank">スカゼミ</a>に 「まろっく」という名前で参加しています。<br>
    </p>

    <p>
      何かありましたら<a href="https://twitter.com/malloc007" target="_blank">Twitter</a>でお気軽にメンション飛ばしてください(*^_^*)
    </p>
  </section>
  <h2 class="profile_title">趣味・好きなもの</h2>
  <section>
    <ul>
      <li>睡眠</li>
      <li>１日10時間の睡眠</li>
      <li>英語の勉強</li>
      <li>code</li>
      <li>プログラミング疲れの回復</li>
      <li>寝はしないけどお布団に入って目をつぶってゆったりする</li>
      <li>ひとりでもくもくとgithubに上げているプロジェクトをメンテナンスする</li>
      <li>WBSの視聴</li>
      <li>日経ヴェリタス</li>
      <li>BeatmaniaIIDX</li>
      <li>アズールレーン</li>
      <li>ピザ</li>
      <li>発言小町</li>
      <li>加山雄三的な</li>
      <li>Rebuild.fm</li>
      <li>バイリンガルニュース</li>
      <li>国際情勢</li>
      <li>美術館</li>
      <li>Facebook</li>
      <li><a href="https://clear33.com/post-318" target="_blank">完璧主義からの脱却</a></li>
      <li><a href="http://world-fusigi.net/" target="_blank">不思議.net</a>の閲覧</li>
      <li>趣味、人間的に豊かで文化的な生活とプログラミングの分離、住み分け</li>
      <li>リベラルアーツ</li>
      <li>ニコニコ動画</li>
      <li>世界史、季語をふらっと調べる</li>
      <li>藤沢秀行</li>
      <li>こち亀</li>
      <li>Hunter × Hunter</li>
      <li>乃木坂46</li>
      <li>spectrum</li>
      <li>世界遺産のドキュメンタリー閲覧</li>
      <li>まとめブログ閲覧</li>
      <li>昔の個人ホームページ巡り</li>
      <li>コスプレ撮影</li>
      <li>都内で降りた駅の地名の由来を調べる</li>
      <li>ジョン・オリバー</li>
      <li>Top Gear</li>
      <li>90年代のラリーやF1</li>
      <li>90年代~2000年代前半にかけての日本のサブカチャー、ネット文化の発展を調べること</li>
      <li>電場少年</li>
      <li>IT Media</li>
    </ul>
  </section>
</article>
