<style>
  .container {
    margin-left: 0;
  }
  .page li:first-child {
    font-weight: normal;
    margin: 0;
  }
  .profile_title {
    margin-bottom: 20px;
  }
</style>

<article>
  <h2 class="profile_title">管理人について</h2>
  <section>
    <p>はじめまして！ほむほーむと言います。91年生まれのポケモン世代です(^^)/</p>
    <p>ニコニコ動画と昔のインターネットが好きです！</p>

  </section>
  <h2 class="profile_title">趣味・好きなもの</h2>
  <section>
    <ul>
      <li>Web採掘</li>
      <li>ビリビリ動画</li>
      <li>中国語の勉強</li>
      <li>１日10時間の睡眠</li>
      <li>英語の勉強</li>
      <li>5ch</li>
      <li>WBSの視聴</li>
      <li>BeatmaniaIIDX</li>
      <li>ピザ</li>
      <li>Rebuild.fm</li>
      <li>バイリンガルニュース</li>
      <li>国際情勢</li>
      <li>美術館</li>
      <li>Facebook</li>
      <li><a href="https://clear33.com/post-318" target="_blank">完璧主義からの脱却</a></li>
      <li><a href="http://world-fusigi.net/" target="_blank">不思議.net</a>の閲覧</li>
      <li>趣味、人間的に豊かで文化的な生活とプログラミングの分離、住み分け</li>
      <li>リベラルアーツ</li>
      <li>ニコニコ動画</li>
      <li>世界史、季語をふらっと調べる</li>
      <li>藤沢秀行</li>
      <li>こち亀</li>
      <li>Hunter × Hunter</li>
      <li>乃木坂46</li>
      <li>世界遺産のドキュメンタリー閲覧</li>
      <li>まとめブログ閲覧</li>
      <li>昔の個人ホームページ巡り</li>
      <li>コスプレ撮影</li>
      <li>都内で降りた駅の地名の由来を調べる</li>
      <li>ジョン・オリバー</li>
      <li>Top Gear</li>
      <li>90年代のラリーやF1</li>
      <li>90年代~2000年代前半にかけての日本のサブカチャー、ネット文化の発展を調べること</li>
      <li>電場少年</li>
      <li>IT Media</li>
      <li>日本の萌えカルチャーをしっかり勉強する</li>
      <li>テニス、レース</li>
      <li>Enya<li/>
      <li>Neurofunk</li>
    </ul>
  </section>
</article>
