<style>
  .container {
    margin-left: 0;
  }
  .page li:first-child {
    font-weight: normal;
    margin: 0;
  }
  .profile_title {
    margin-bottom: 20px;
  }
</style>

<article>
  <h2 class="profile_title">管理人について</h2>
  <section>
    <p>はじめまして！ほむほーむと言います。91年生まれのポケモン世代です(^^)/</p>
    <p>ニコニコ動画と昔のインターネットが好きです！</p>
    <p>Twitterは<a href="https://twitter.com/homuhoomu" target="_blank">@homuhoomu</a>です、宜しくお願いします(*^_^*)</p>

  </section>
  <h2 class="profile_title">趣味・好きなもの</h2>
  <section>
    <ul>
      <li>J-WAVE</li>
      <li>Web採掘</li>
      <li>ビリビリ動画</li>
      <li>中国語の勉強</li>
      <li>１日10時間の睡眠</li>
      <li>英語の勉強</li>
      <li>5ch</li>
      <li>WBSの視聴</li>
      <li>BeatmaniaIIDX</li>
      <li>ピザ</li>
      <li>Rebuild.fm</li>
      <li>趣味、人間的に豊かで文化的な生活とプログラミングの分離、住み分け</li>
      <li>ニコニコ動画</li>
      <li>世界史、季語をふらっと調べる</li>
      <li>藤沢秀行</li>
      <li>Hunter × Hunter</li>
      <li>世界遺産のドキュメンタリー閲覧</li>
      <li>まとめブログ閲覧</li>
      <li>昔の個人ホームページ巡り</li>
      <li>コスプレ撮影</li>
      <li>都内で降りた駅の地名の由来を調べる</li>
      <li>昔の日本のアニメ、ゲーム文化、ネット文化を調べること</li>
      <li>電場少年</li>
      <li>日本の萌えカルチャーをしっかり勉強する</li>
      <li>Enya<li/>
      <li>Neurofunk</li>
    </ul>
  </section>
</article>
