<style>
  .container {
    margin-left: 0;
  }
  .page li:first-child {
    font-weight: normal;
    margin: 0;
  }
  .profile_title {
    margin-bottom: 20px;
  }
</style>

<article>
  <h2 class="profile_title">管理人について</h2>
  <section>
    <p>都内でソフトウェアエンジニアとして働いています、好きな言語はJavaScriptです。<br>
      こちらは日常的な話題についてのブログにしていきたいと思います。
    </p>
  </section>
  <h2 class="profile_title">趣味・好きなもの</h2>
  <section>
    <ul>
      <li>睡眠</li>
      <li>１日10時間の睡眠</li>
      <li>英語の勉強</li>
      <li>code investigation</li>
      <li>寝はしないけどお布団に入って目をつぶってゆったりする</li>
      <li>ひとりでもくもくとメンテナンスする</li>
      <li>WBSの視聴</li>
      <li>日経ヴェリタス</li>
      <li>BeatmaniaIIDX</li>
      <li>アズールレーン</li>
      <li>ピザ</li>
      <li>発言小町</li>
      <li>加山雄三的な</li>
      <li>Rebuild.fm</li>
      <li>バイリンガルニュース</li>
      <li>国際情勢</li>
      <li>美術館、ハイカルチャー</li>
      <li>地域の歴史的由来を調べる</li>
      <li>Facebook</li>
      <li><a href="https://clear33.com/post-318" target="_blank">完璧主義からの脱却</a></li>
      <li><a href="http://world-fusigi.net/" target="_blank">不思議.net</a></li>
      <li>趣味、人間的に豊かで文化的な生活とプログラミングの分離、住み分け</li>
      <li>リベラルアーツ</li>
      <li>ニコニコ動画</li>
      <li>プログラミング疲れの回復</li>
      <li>世界史、季語</li>
      <li>藤沢秀行</li>
      <li>食べ物系ってかフィクションじゃなくて実物文化系の漫画</li>
      <li>乃木坂46</li>
      <li>open source interaction & collaboration</li>
      <li>世界遺産</li>
      <li>まとめブログ閲覧</li>
    </ul>
  </section>
</article>
