<style>
  .container {
    margin-left: 0;
  }
  .page li:first-child {
    font-weight: normal;
    margin: 0;
  }
  .profile_title {
    margin-bottom: 20px;
  }
</style>

<article>
  <h2 class="profile_title">管理人について</h2>
  <section>
    <p>都内でソフトウェアエンジニアとして働いています、好きな言語はJavaScriptです。<br>
      こちらは日常的な話題についてのブログにしていきたいと思います。
    </p>
  </section>
  <h2 class="profile_title">趣味・好きなもの</h2>
  <section>
    <ul>
      <li>WBSの視聴</li>
      <li>日経ヴェリタス</li>
      <li>BeatmaniaIIDX</li>
      <li>アズールレーン</li>
      <li>ピザ</li>
      <li>Rebuild.fm</li>
      <li>バイリンガルニュース</li>
      <li>国際情勢</li>
    </ul>
  </section>
</article>
