<article>
  <h2 class="post-title"><%= @post.title %></h2>

  <section class="post_info">
      <%= markdown(article_format(@post.text)) %>
  </section>
</article>

<section class="category" class="clearfix">
  <ul class="list-inline pull-right">
    <% @post.categories.each do |category| %>
      <li><a href="#"><%= category.name %></a></li>
    <% end %>
  </ul>
</section>

<% if user_signed_in? %>
<%= link_to '編集', edit_post_path(@post) %>
<% end %>
