@import "global.css.scss";

.comment-row {
  border-bottom: 1px dotted $baseLightBlue;
}

.comment-body {
  margin:10px;
}


.commenter {
  margin:10px;
}

.comment-at {
  margin:10px;
}

.comment-delete {
  margin:10px;
}
