$glay: #aaa;

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  color: #555;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'Hiragino Kaku Gothic Pro', 'Meiryo', 'MS PGothic', sans-serif;
  font-size: 15px;
  line-height: 25px;
  word-break: break-all;
}

header {
  flex: 0 1 auto;
  padding-bottom: 9px;
  margin: 20px 0 20px;
  border-bottom: 1px solid #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;

  .title-link {
    color: $glay !important;
    &:hover {
      text-decoration: none;
    }
  }
}

main {
  flex: 1;
}

footer {
  flex: 0 1 auto;
  .footer > ul > li {
    word-break: keep-all;
  }
}

// PC・Tablet
@media (min-width: 568px) {
  body {
    margin: 0 auto;
    width: 980px;
  }

  .container-fluid,
  .post-table-container {
    padding-left: 0;
  }

  .new_comment {
    width: 60%;
  }

}

// smart phone
@media (max-width: 424px) {

  body {
    margin: 0;
    width: 100%;
  }

  .page-header {
    text-align: center;
  }

  .title-description {
    display: none;
  }

  footer {
    padding-bottom: 20px;

    li {
      text-align: center;
    }

    li:nth-child(1) {
      width: 22%;
    }

    li:nth-child(2) {
      width: 26%;
    }

    li:nth-child(3) {
      width: 22%;
    }

    li:nth-child(4) {
      width: 22%;
    }

    li:nth-child(5) {
      display: none;
    }

    .nav > li > a {
      padding: 10px 0;
    }
  }

  .post-title {
    text-align: center;
  }

}
