.posts {
  // root 'posts#index'
  .root {
    margin-left: -15px;
    margin-right: -15px;
  }

  .container {
    width: 100%;
  }

  .post-table-container {
    width: 100%;
  }

  .post_info {
    margin: 25px 0 30px;
  }

  article p,iframe {
    margin-bottom: 30px;
  }

  .category {
    width: 90%;
  }
}

// PC・Tablet
@media (min-width: 568px) {
  article {
    width: 750px;
  }
}

// smart phone
@media (max-width: 424px) {
  article {
    width: 100%;
  }
}