@import "global.css.scss";

.posts {
  h2 {
    margin-top: 20px;
    margin-bottom: 5px;

    font-size: 110%;
    border-bottom: 1px dotted $baseLightBlue;
  }

  .post_info {
    padding: 20px 5px;
    margin-bottom: 30px;
    border-radius: 5px;

    strong {
      font-size: 110%;
    }
  }

  table{
    width:100%;
  }

  /*-----------------------------

    新規投稿リンク

  ------------------------------*/
  #new-post-link {
    margin:50px 0px 10px;
  }


}
