.index-table > thead > tr > th,
.index-table > tbody > tr > th,
.index-table > tfoot > tr > th,
.index-table > thead > tr > td,
.index-table > tbody > tr > td,
.index-table > tfoot > tr > td {
    padding: 4px;
    line-height: 1.42857143;
    vertical-align: top;
    border: none;
}
